main {
    .col-12 {
        padding: 20px 0px !important;
    }

    .carousel-container {
        margin: auto;
        max-width: 1200px;
        padding: 0px 20px;
    }

    .scard-container{
        display: flex;
        gap: 15px;
        max-width: 1200px;
        overflow-x: scroll;
        margin: auto;

    }
    .promo {
        img {
            border-radius: 25px;
            max-width: 100%;
        }
    }

    .slick-list {
        margin: 0 -0px;
    }

    .slick-slide>div {
        padding: 0 10px;
    }

    .slick-slide div {
        outline: none !important;
    }
}