.scard{
    max-width: 140px;
    padding: 30px;
    max-height: 140px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    transition: all 0.9s;

    h6{
        font-size: 16px;
        text-decoration: none !important;
    }

    img{
        max-width: 100%;
    }
}
